
.logo {
    max-width: 200px; /* Độ rộng tối đa của logo */
  }
  
  .link-home {
    margin-left: 20px; /* Khoảng cách giữa logo và liên kết "Home" */
    color: black; /* Màu chữ của liên kết "Home" */
  }
  
  .link-home:hover {
    border-color: red; /* Màu viền khi di chuột qua liên kết "Home" */
  }